@model IEnumerable<FootballOdds.Models.ResourceModels.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hometeam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Awayteam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Homegoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Awaygoals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MatchDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hometeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Awayteam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Homegoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Awaygoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatchDay)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
